.top {
    /*background-color: rgba(200, 196, 196, 0.855);
    opacity: 0.75;
    border-radius: 0% 0% 10% 10%;*/
    background-image: linear-gradient(white);
    position: sticky;
    /*width: 100%;*/
    align-items: center;
    top: 0%;
    display: flex;
    padding-top: 0%;
    margin-top: 0%;
    margin-left: 5%;
    margin-right: 5%;
    z-index: 1;
    padding-top: 10px;
}

.topLeft{
    flex: 3;
    justify-content: left;
    align-items: center;
    display: flex;
    /*z-index: 1;
    -webkit-transition-property: all; 
    -webkit-transition-duration: 0.3s; 
    -webkit-transition-timing-function: ease; */
}

/*.topLeft:hover{
    transform: scale(3);
}
*/
.topRight{
    flex: 3;
    justify-content: right;
    align-items: center;
    display: flex;
    z-index: 1;
    padding-top: 10px;
}

.topImage{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    opacity: 1.0 !important;
    cursor: pointer;
}

.topList {
    display: flex;
    justify-content: center;
    margin: 0%;
    padding: 0%;
    list-style: none;
}

.topListItem {
    margin-right: 20px;
    font-size: 15px;
    font-weight: 300;
    cursor: pointer;
}

.topListItem:hover {
    background-color: rgb(223, 217, 217) !important;
    border-radius: 25% !important;
    opacity: 1.0 !important;
}