.heading{
    margin-top: 30px;
    justify-content: left;
    text-decoration: aqua;
    padding-left: 3%;
    font-size: 40px;

}

.idk{
    display: flex;
    justify-content: center;
    padding-top: 5%;
    margin-bottom: 30px;
}